on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  generate:
    name: Generate
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
      
      - name: CI
        run: npm ci

      - name: Generate Stats
        uses: ./
        with:
          card: stats
          options: username=${{ github.repository_owner }}
          path: grs/stats.svg
        env:
          PAT_1: ${{ secrets.GITHUB_TOKEN }}

      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: stats
          path: grs


  push:
    name: Push
    permissions: write-all
    runs-on: ubuntu-latest
    needs: generate
    
    steps:
      - name: Download
        uses: actions/download-artifact@v4
        with:
          name: stats
          path: grs
      
      - name: Push
        uses: crazy-max/ghaction-github-pages@v3
        with:
          target_branch: gh-action-output
          build_dir: grs
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
